/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.btn {
    display: inline-block;
    vertical-align: middle;
    padding: $base-spacing-unit / 2;
    text-align: center;
    background-color: $brand-color;
    border-bottom: none;
    font-weight: 300;
    border-radius: $brand-round;

    &,
    &:hover {
        border-bottom: none;
        color: #fff;
        text-decoration: none;
    }

}

.btn--full {
    width: 100%;
}

.btn--large {
    padding: $base-spacing-unit;
}

.btn--secondary {
    background-color: rgb(184, 177, 0);
}

.btn--tertiary {
    background-color: rgb(215, 178, 0);
}
